<launch>




	<node name="camera_2" pkg="smart_tray" type="camera_2.py" output='screen'/>

	<node name="camera_2_pose_estimation" pkg="smart_tray" type="camera_2_pose_estimation.py" output='screen'/>

	<node name="camera_2_grf_estimation" pkg="smart_tray" type="camera_2_grf_estimation.py" output='screen'/>

	<node name="tray2grf_2" pkg="smart_tray" type="tray2grf_2.py" output='screen'/>


</launch>