<launch>

	<node name="smart_tray" pkg="smart_tray" type="smart_tray_main.py" output="screen"/>

	<node name="rft_sensor_serial" pkg="rft_sensor_serial" type="rft_sensor_serial" />

	<node name="rft_sensor_serial_2" pkg="rft_sensor_serial" type="rft_sensor_serial_2"  output="screen"/>

	<node name="camera_1" pkg="smart_tray" type="camera_1.py"/>

	<node name="pose_estimation" pkg="smart_tray" type="pose_estimation.py"/>


</launch>